<!DOCTYPE html>
<html lang="en" style="height: 0;">
<head>
    <meta charset="UTF-8">
    <script src="__STATIC__/student/bootstrap/js/jq.js"></script>
    <link rel="stylesheet" href="__STATIC__/student/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/xadmin/css/font.css">
    <link rel="stylesheet" href="__STATIC__/student/css/base.css">
    <link rel="stylesheet" href="__STATIC__/xadmin/css/xadmin.css">
    <link rel="stylesheet" href="__STATIC__/student/css/stipend.css">
    <link rel="stylesheet" href="__STATIC__/student/css/printstylesheet.css" media="print"/>

    <title>助学金</title>
    <script src="__STATIC__/student/v/lib/jquery.js"></script>
    <script src="__STATIC__/student/v/dist/jquery.validate.min.js"></script>
    <script src="__STATIC__/student/v/dist/localization/messages_zh.js"></script>
    <script type="text/javascript" src="__STATIC__/xadmin/js/xadmin.js"></script>
    <script src="__STATIC__/student/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="__STATIC__/xadmin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/teacher/js/grant.js" charset="utf-8"></script>

</head>
<style>
    * {
        font-size: 14px;
    }

    input {
        padding: 0;
    }

    td {
        text-align: center;
        height: 30px;
    }

    #table {
        border: 2px solid #000000;
    }

    #table .cm-h-1 {
        height: 1.2cm;
    }

    #table .cm-h-08 {
        height: 0.8cm;
        line-height: 0.8cm;
    }

    #table .cm-w-2 {
        width: 2cm;
    }

    #table .cm-w-2 {
        width: 2cm;
    }

    #table .cm-w-3 {
        width: 3.2cm;
    }

    #table .com-h-22 {
        height: 2.4cm;
    }

    #table .com-h-28 {
        width: 2.8cm;
    }

    #table .com-h-16 {
        height: 1.6cm;
    }

    #table .cm-h-38 {
        height: 3.8cm;
    }

    #table .cm-h-3 {
        height: 3.2cm;
    }

    .heade {
        width: 794px;
        margin: 0 auto;
    }

    .k {
        border: 1px solid #000;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }

    .k-lg {
        border: 1px solid #000;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    @media print {
        #table {
            width: 794px;
            height: 24cm;
            border: 2px solid #000000;
        }

        @page {
            margin-top: 2.4cm;
            margin-left: 1.6cm;
            margin-right: 1.6cm;
        }
    }

</style>
<body>
<div class="x-nav">
     <span class="layui-breadcrumb" lay-separator="|">
        <a href="javascript:history.back(-1)">返回上级</a>
        <a><cite>审查助学金资料</cite></a>
        </span>
    <a class="layui-btn layui-btn-small" style="float:right" href="javascript:location.replace(location.href);"
       title="刷新">
        <i class="layui-icon">&#xe669;</i></a>
</div>

<div class="x-body">
    <fieldset class="layui-elem-field">
        <legend style="border: none;width: inherit;">
            {$grant['stu_name']}的助学金申请资料--
            <span>申请时间{$grant['create_time']}</span>

            {if condition="$grant['grant_flag'] == 1"}
            <span class="layui-badge-rim layui-bg-orange">待审查</span>
            {elseif condition="$grant['grant_flag'] == 2" /}
            <span class="layui-badge-rim layui-bg-green">审查通过</span>
            {else/}
            <span class="layui-badge">审查未通过</span>
            {/if}
        </legend>
        <div class="layui-field-box">
            <form action="" class="pc" id="pc">
                <h3 class="text-center">广州市技工院校国家助学金申请表</h3>
                <div class="heade" style="text-align: center; font-size: 24px; margin-bottom: 1cm">
                        <span style="font-size: 24px; margin-left: 0.7cm"> 

                            (<span style="display: inline-block;width: 2cm;"></span>学年)
                        </span>
                    <span style="font-size: 24px; margin-left: 0.7cm">
                            (<span style="display: inline-block;width: 2cm"></span>学年)
                        </span>
                </div>
                <div class="heade" style="font-size: 16px">
                    学校名称: <span style="width: 200px;display: inline-block;position: relative;top: -3px;">广州城建技术学校</span>
                    <span style="float: right;margin-right: 2.7cm;font-size: 16px">( 此表入学生档案 )</span>
                </div>


                <table border="1" align="center" width="794" style="margin: 0 auto;" id="table">
                    <tr class="cm-h-1">
                        <td align="center" class="cm-w-2">姓名</td>
                        <td class="cm-w-2">{$grant['stu_name']}</td>
                        <td align="center" class="cm-w-2">性别</td>
                        <td class="cm-w-2">{$grant['stu_sex']}</td>
                        <td align="center" class="cm-w-2" style="width: 1cm">出生年月</td>
                        <td>{$grant['stu_birthday']}</td>
                        <td rowspan="5" style="width: 4.2cm; font-size: 14px">相片</td>
                    </tr>
                    <tr class="cm-h-1">
                        <td align="center" class="cm-w-2">籍贯</td>
                        <td class="cm-w-2">{$grant['stu_jg']}</td>
                        <td align="center" class="cm-w-2">民族</td>
                        <td class="cm-w-2">{$grant['stu_nation']}</td>
                        <td align="center" class="cm-w-2">政治面目</td>
                        <td>{$grant['stu_politicalstatus']}</td>
                    </tr>
                    <tr>
                    <tr class="cm-h-1">
                        <td align="center" colspan="2" class="com-h-28">学号</td>
                        <td colspan="4">{$grant['stu_number']}</td>
                    </tr>
                    <tr class="cm-h-1">
                        <td align="center" colspan="2" class="com-h-28">身份证号</td>
                        <td colspan="4">
                            {foreach $grant['stu_identity'] as $vo}
                            <span class="k-lg">{$vo}</span>
                            {/foreach}
                        </td>
                    </tr>
                    <tr class="cm-h-1">
                        <td colspan="2" align="center" class="com-h-28">户口所在地</td>
                        <td colspan="5">
                            {$grant['stu_hukouaddresstow']}
                        </td>
                    </tr>

                    <tr class="cm-h-1">
                        <td colspan="2" align="center" class="com-h-28">中考准考证号</td>
                        <td colspan="2">{$grant['stu_examination']}</td>
                        <td align="center" class="cm-w-3">何时毕业于何学校</td>
                        <td colspan="2">{$grant['stu_bytime']}毕业于{$grant['stu_graduation']}</td>
                    </tr>
                    <tr class="cm-h-1">
                        <td rowspan="5" align="center" class="com-h-22" style="line-height: 15px">
                            家庭<br>主要<br>成员<br>情况
                        </td>
                        <td align="center">姓名</td>
                        <td align="center">性别</td>
                        <td align="center">年龄</td>
                        <td align="center" style="width: 2cm">与本人关系</td>
                        <td colspan="2" align="center">工作或学校单位</td>
                    </tr>
                    <tr class="cm-h-08">
                        <td>{$grant['family_name1']}</td>
                        <td>{$grant['family_sex1']}</td>
                        <td>{$grant['family_age1']}</td>
                        <td>{$grant['family_relationship1']}</td>
                        <td colspan="2">{$grant['family_work1']}</td>
                    </tr>
                    <tr class="cm-h-08">
                        <td>{$grant['family_name2']}</td>
                        <td>{$grant['family_sex2']}</td>
                        <td>{$grant['family_age2']}</td>
                        <td>{$grant['family_relationship2']}</td>
                        <td colspan="2">{$grant['family_work2']}</td>
                    </tr>
                    <tr class="cm-h-08">
                        <td>{$grant['family_name3']}</td>
                        <td>{$grant['family_sex3']}</td>
                        <td>{$grant['family_age3']}</td>
                        <td>{$grant['family_relationship3']}</td>
                        <td colspan="2">{$grant['family_work3']}</td>
                    </tr>
                    <tr class="cm-h-08">
                        <td>{$grant['family_name4']}</td>
                        <td>{$grant['family_sex4']}</td>
                        <td>{$grant['family_age4']}</td>
                        <td>{$grant['family_relationship4']}</td>
                        <td colspan="2">{$grant['family_work4']}</td>
                    </tr>

                    <tr class="cm-h-1">
                        <td colspan="2" align="center">家庭地址及固定电话</td>
                        <td colspan="3">{$grant['stu_familyAddesPhone']}</td>
                        <td align="center">邮政编码</td>
                        <td>{$grant['stu_postalcode']}</td>
                        </td>
                    </tr>
                    <tr class="cm-h-1">
                        <td align="center" colspan="2">联系人</td>
                        <td colspan="2">{$grant['stu_name']}</td>
                        <td align="center">联系手机(手机)</td>
                        <td colspan="2">{$grant['stu_phone']}</td>
                    </tr>
                    <tr class="cm-h-1">
                        <td align="center" colspan="2">就读专业</td>
                        <td colspan="3">
                        {$grant['stu_specialty']}</td>
                        <td align="center">年级</td>
                        <td colspan="1" class="borderNone">{$grant['stu_grade']}级</td>
                    </tr>

                    <tr class="cm-h-33">
                        <td rowspan="1" align="center" style="line-height: 15px">
                            学生<br>申请<br>理由
                        </td>
                        <td colspan="6" class="liyou" style="text-align: inherit">
                            <div>
                                <span class="k"></span>
                                <span class="k"></span>
                                <span>
                                困难家庭（农村、城市低保或特困家庭子女；孤残学生、烈士子女或优抚家庭子女；本人或家<br>庭成员因工伤残或患重大疾病；家庭遭受重大灾害或变故；父母双方或一方残疾)
                                </span>
                            </div>
                            <div>
                                <span class="k"></span>
                                <span class="k"></span>
                                <span>涉农专业</span>

                            </div>

                            <div style="margin-top: 1cm;">
                                <div style="width: 120px;display: inline-block;">
                                    <div class="">申请人签名:</div>
                                    <div class="">申请人联系方式:</div>
                                </div>
                                <div style="display: inline-block;margin-left: 3.3cm;">
                                    <div>家长或法定监护人签名:</div>
                                    <div style="margin-left: 200px">
                                        <span style="margin-right: 1cm">年</span>
                                        <span style="margin-right: 1cm">月</span>
                                        <span>日</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="com-h-16">
                        <td rowspan="1" align="center" style="line-height: 15px">
                            班级<br>评审<br>意见
                        </td>
                        <td colspan="6" style="text-align: inherit">
                            <div style="display: inline-block;">
                                <span style="margin-left: 25px">
                                    班主任&nbsp;&nbsp;(&nbsp;签名&nbsp;)&nbsp;&nbsp;:
                                </span>
                                <div style="margin-left: 46px">
                                    <span style="margin-right: 0.6cm">年</span>
                                    <span style="margin-right: 0.6cm">月</span>
                                    <span>日</span>
                                </div>
                            </div>
                            <div style="display: inline-block;margin-left: 3.8cm">
                                <span style="margin-left: 25px">
                                    班主任&nbsp;&nbsp;(&nbsp;签名&nbsp;)&nbsp;&nbsp;:
                                </span>
                                <div style="margin-left: 32px">
                                    <span style="margin-right: 0.6cm">年</span>
                                    <span style="margin-right: 0.6cm">月</span>
                                    <span>日</span>
                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr class="cm-h-38">
                        <td rowspan="1" align="center" style="line-height: 15px">
                            学校<br>认定<br>意见
                        </td>
                        <td colspan="6" style="text-align: left">
                            <div style="margin-top: -24px; margin-left: 10px">
                                <span class="k"></span>
                                <span class="k"></span>
                                不同意认定为助学金对象。
                            </div>
                            <div style="margin-top: -46px; margin-left: 10px">
                                <span class="k"></span>
                                <span class="k"></span>
                                同意认定为助学金对象。 <span>(&nbsp;<span class="k"></span>困难家庭、&nbsp;<span class="k"></span>涉农专业)
                            </div>
                            <div style="position: relative; top: 50px">
                                <div style="display: inline-block;margin-left: 30px">
                                    <span>
                                        负责人&nbsp;&nbsp;(&nbsp;加盖机构公章&nbsp;)&nbsp;&nbsp;:
                                    </span>
                                    <div style="margin-left: 46px">
                                        <span style="margin-right: 0.6cm">年</span>
                                        <span style="margin-right: 0.6cm">月</span>
                                        <span>日</span>
                                    </div>
                                </div>
                                <div style="display: inline-block;margin-left: 3.5cm">
                                    <span style="margin-left: 25px">
                                        负责人&nbsp;&nbsp;(&nbsp;加盖机构公章&nbsp;)&nbsp;&nbsp;:
                                    </span>
                                    <div style="margin-left: 46px">
                                        <span style="margin-right: 0.6cm">年</span>
                                        <span style="margin-right: 0.6cm">月</span>
                                        <span>日</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </table>
            </form>

            {if condition="$grant['grant_flag'] == 1"}
            <div style="display: flex; justify-content:center;margin-top: 50px;">
                <button class="layui-btn examine" data-grant_flag="2">通过审查</button>
                <button class="layui-btn layui-btn-danger examine" data-grant_flag="3">未通过审查</button>
            </div>
            {/if}
            <button class="layui-btn layui-btn-danger print x-right">打印</button>
            <input type="hidden" value="{$grant['grant_id']}" id="grant_id">
            <input type="hidden" value="{$class_id}" id="class_id">
        </div>

    </fieldset>
</div>


</body>
</html>