h3 {
	margin-bottom: 50px;
}
input {
	text-align: left;
}
.content{
	margin: 0 auto;
	margin-bottom: 100px;
}
.correct {
	border-color: #5FB878;
}
.error {
	border-color: #FF0000;
}
.stuPhoto {
/*	float: right;
	position: relative;
	right: -215px;*/
	margin-bottom: 40px;
}
.layui-form-item {
	/*width: 40%;*/
    /*display: inline-block*/
    position: relative;

}

/*.layui-input-block {
    position: relative;
}*/
.layui-form-label {
	padding-right: 0px;
	padding-left: 0px;
	font-weight: bold;
	font-size: 14px;
}

.rightAlert {
	display: inline-block;
	position: fixed;
	right: 10px;
	top: 70%;
	transform:translate(0,-50%); 

}
.rightAlert button {
	display: block;
	margin-top: 20px;
}
.layui-btn+.layui-btn {
	margin-left: 0;

}
@media screen and (max-width: 300px) {
  
}

/*.top{
	position: fixed;
	right: 10px;
	bottom: 10px;
}
*/

/*.layui-form-item:after {
	content: "";
	width: 10px;
	height: 10px;
	border: 1px solid red;
	clear: both;
	display: inline-block;
	position: absolute;
	margin-left: 90%;
	margin-top: 80px;
}*/

.definiteshow {
	position: absolute;
	right: -20px;
	top: 8px;
}

.definiteshow,
.definiteshow-family1,
.definiteshow-family2,
.definiteshow-family2,
.definiteshow-family3,
.definiteshow-family4,
.definiteshow-family5,
.layui-icon{
	color: #CC3333;
}

.definiteshow-family1,.definiteshow-family2,.definiteshow-family2,.definiteshow-family3,.definiteshow-family4,.definiteshow-family5{
	position: absolute;
	right: -20px;
}

.definiteshow-family1 {
	top: 25px;
}

.definiteshow-family2 {
	top: 78px;
}

.definiteshow-family3 {
	top: 132px;
}
.definiteshow-family4 {
	top: 25px;
}

.definiteshow-family5 {
	top: 78px;
}

