<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="__STATIC__/student/bootstrap/css/bootstrap.min.css">
    <script src="__STATIC__/student/bootstrap/js/jq.js"></script>
    <link rel="stylesheet" href="__STATIC__/student/css/personal.css">
    <link rel="stylesheet" href="__STATIC__/xadmin/css/font.css">
    <link rel="stylesheet" href="__STATIC__/xadmin/css/xadmin.css">
    <link rel="stylesheet" href="__STATIC__/student/css/base.css">

    <title>个人信息</title>
    <script src="__STATIC__/student/v/lib/jquery.js"></script>
    <script src="__STATIC__/student/v/dist/jquery.validate.min.js"></script>
    <script src="__STATIC__/student/v/dist/localization/messages_zh.js"></script>
    <script type="text/javascript" src="__STATIC__/xadmin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/xadmin/js/xadmin.js"></script>
    <script src="__STATIC__/student/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="__STATIC__/student/js/stuinfo.js"></script>


</head>
<body>
<!-- 导航 -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="__STATIC__/student/img/logo1.png" alt="" class="img-responsive">
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{:url('/stuIndex')}">首页</a></li>
                <li><a href="{:url('/Stuleave')}">请假</a></li>
                <li><a href="{:url('/Stugrant')}">助学金</a></li>
                <li><a href="{:url('/Stuinfo')}">个人信息</a></li>
                <li><a href="{:url('/Stureduction')}">学费减免</a></li>
                <li>
                    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="true">
                        {:session('student.stu_name')}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="javascript:;" onclick="x_admin_show('更改密码','/student/Index/editPsd')">更改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/student/Index/out">退出</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    </div>
</nav>
<!-- 个人信息表 -->
<form action="" method="" class="form1" id="stuInfoForm">
    <table class="table table-bordered">
        <h3 class="text-center">个人信息表</h3>
        <tbody>
        <tr>
            <td>
                <div class="xiangpian">
                    <a href="javascript:;" id="upload" style="display: inline-block;width: 100%;height: 100%;">
                        {if condition="$stuinfo['stu_imgurl']"}
                        <img src="{$stuinfo['stu_imgurl']}" alt="点击上传头像" style="display: inline-block;width: 100%;height: 100%;" id="img">
                        {else/}
                       点击上传头像
                        {/if}
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>学习形式: <input type="text" value="全日制" name="stu_studystyle"></td>
        </tr>
        <tr>
            <td>姓名: <input type="text" name="stu_name" value="{$stuinfo['stu_name']}"></td>
        </tr>
        <tr>
            <td>学号: <input type="text"name="stu_number" value="{$stuinfo['stu_number']}"></td>
        </tr>
        <tr>
            <td>身份证号码: <input type="text" name="stu_identity" value="{$stuinfo['stu_identity']}"></td>
        </tr>
        <tr>
            {if condition="$stuinfo['stu_sex'] == '女'"}
            <td>性别: <input type="radio" name="stu_sex" value="男"> 男 <input type="radio" name="stu_sex"  checked="checked"  value="女"> 女</td>
            {else/}
            <td>性别: <input type="radio" name="stu_sex" checked="checked" value="男"> 男 <input type="radio" name="stu_sex" value="女"> 女</td>
            {/if}
        </tr>
        <tr>
            <td>出生日期: <input type="text" name="stu_birthday" value="{$stuinfo['stu_birthday']}" placeholder="点击选择时间" id="birthday"></td>
        </tr>
        <tr>
            <td>民族: <input type="text" name="stu_nation" value="{$stuinfo['stu_nation']}"></td>
        </tr>
        <tr>
            <td>联系电话: <input type="text" name="stu_phone" value="{$stuinfo['stu_phone']}"></td>
        </tr>
        <tr>
            {if condition="$stuinfo['stu_politicalstatus'] == '党员'"}
            <td>政治面貌: <input type="radio" name="stu_politicalstatus"  value="群众"> 群众 <input type="radio" name="stu_politicalstatus" value="团员">
                团员 <input type="radio" name="stu_politicalstatus" value="党员" checked="checked"> 党员
            </td>
            {elseif condition="$stuinfo['stu_politicalstatus'] == '团员'" /}
            <td>政治面貌: <input type="radio" name="stu_politicalstatus" value="群众"> 群众 <input type="radio" name="stu_politicalstatus"  checked="checked" value="团员">
                团员 <input type="radio" name="stu_politicalstatus" value="党员"> 党员
            </td>
            {else/}
            <td>政治面貌: <input type="radio" name="stu_politicalstatus" value="群众" checked="checked"> 群众 <input type="radio" name="stu_politicalstatus" value="团员">团员 <input type="radio" name="stu_politicalstatus"   value="党员"> 党员
            </td>
            {/if}
        </tr>
        <tr>
            <td>户口所在地: <input type="text" name="stu_hukouaddress" placeholder="X省X市X县(市、区)X镇(街道)X村(号)" value="{$stuinfo['stu_hukouaddress']}"></td>
        </tr>
        <tr>
            <td>户口性质:
                <select name="stu_hokoustyle" style="width: 200px;height: 30px;">
                    <option value="">请选择一种户口性质</option>
                    {if condition="$stuinfo['stu_hokoustyle'] == '农村户口'"}
                    <option value="农村户口" selected = "selected">农村户口</option>
                    <option value="非农户口">非农户口</option>
                    {elseif condition="$stuinfo['stu_hokoustyle'] == '非农户口'" /}
                    <option value="农村户口">农村户口</option>
                    <option value="非农户口"  selected = "selected">非农户口</option>
                    {else/}
                    <option value="农村户口">农村户口</option>
                    <option value="非农户口">非农户口</option>
                    {/if}
                </select>
            </td>
        </tr>
        <tr>
            <td>学习专业名称: <input type="text" name="stu_specialty" value="{$stuinfo['stu_specialty']}"></td>
        </tr>
        <tr>
            <td>毕业学校: <input type="text" name="stu_graduation" value="{$stuinfo['stu_graduation']}"></td>
        </tr>
        <tr>
            <td>招生年份: <input type="text" name="stu_enrolmentyear" value="{$stuinfo['stu_enrolmentyear']}"></td>
        </tr>
        <tr>
            {if condition="$stuinfo['stu_enrollmentquarter'] == '秋季'"}
            <td>招生季度: <input type="radio" name="stu_enrollmentquarter" checked="checked" value="秋季">秋季 <input type="radio" name="stu_enrollmentquarter" value="春季">春季</td>
            {else/}
            <td>招生季度: <input type="radio" name="stu_enrollmentquarter" value="秋季">秋季 <input type="radio" name="stu_enrollmentquarter"  checked="checked"  value="春季">春季</td>
            {/if}
        </tr>
        <tr>
            <td>班级: <input type="text" name="class_name" value="{$stuinfo['class_name']}"></td>
        </tr>
        <tr>
            <td>专业级别: <input type="text" value="高级" name="stu_professionallevel" value="{$stuinfo['stu_professionallevel']}"></td>
        </tr>
        <tr>
            <td>入学前文化程度: <input type="text" value="高中" name="stu_Preschooleducation" value="{$stuinfo['stu_Preschooleducation']}"></td>
        </tr>
        <tr>
            <td>学制: <input type="text" value="三年" name="stu_schoolsystem" value="{$stuinfo['stu_schoolsystem']}"></td>
        </tr>
        <tr>
            <td>家庭联系人: <input type="text" name="stu_familycontact" value="{$stuinfo['stu_familycontact']}"></td>
        </tr>
        <tr>
            <td>家庭联系电话: <input type="text" name="stu_familyphone" value="{$stuinfo['stu_familyphone']}"></td>
        </tr>
        <tr>
            <td>家庭年总收入: <input type="text" name="stu_totalannualincomefamily" value="{$stuinfo['stu_totalannualincomefamily']}"></td>
        </tr>
        <tr>
            <td>家庭人均收入: <input type="text" name="stu_percapitaincomefamily" value="{$stuinfo['stu_percapitaincomefamily']}"></td>
        </tr>
        <tr>
            {if condition="$stuinfo['stu_100thousand'] == '否'"}
            <td>是否10万以下民族: <input type="radio" name="stu_100thousand" checked="checked" value="否"> 否 <input type="radio" name="stu_100thousand" value="是"> 是
            </td>
            {else/}
            <td>是否10万以下民族: <input type="radio" name="stu_100thousand" value="否"> 否 <input type="radio" name="stu_100thousand" checked="checked" value="是"> 是
            </td>
            {/if}

        </tr>
        <tr>
            <td>是否家庭困难: <input type="text" value="都申请" name="stu_familydifficulties" value="{$stuinfo['stu_familydifficulties']}"></td>
        </tr>
        <tr>
            {if condition="$stuinfo['stu_familylow'] == '否'"}
            <td>是否低保: <input type="radio" name="stu_familylow" checked="checked" value="否"> 否 <input type="radio" name="stu_familylow" value="是"> 是</td>
            {else/}
            <td>是否低保: <input type="radio" name="stu_familylow" value="否"> 否 <input type="radio" name="stu_familylow" checked="checked" value="是"> 是</td>
            {/if}
        </tr>
        <tr>
            <td>收入来源: <input type="text" name="stu_sourceincome" value="{$stuinfo['stu_sourceincome']}"></td>
        </tr>
        <tr>
            <td>邮政编码: <input type="text" name="stu_postalcode" value="{$stuinfo['stu_postalcode']}"></td>
        </tr>
        <tr>
            <td>国别: <input type="text" value="中国大陆" name="stu_differentcountries" value="{$stuinfo['stu_differentcountries']}"></td>
        </tr>
        <tr>
            <td>证件类型: <input type="text" value="身份证" name="stu_certificatestyle" value="{$stuinfo['stu_certificatestyle']}"></td>
        </tr>
        <tr>
            <td>户口地址: <input type="text" name="stu_hukouaddresstow" value="{$stuinfo['stu_hukouaddresstow']}"></td>
        </tr>
        <tr>
            {if condition="$stuinfo['stu_retiredsoldier'] == '是'"}
            <td>是否退役士兵: <input type="radio" name="stu_retiredsoldier" value="否"> 否 <input type="radio" name="stu_retiredsoldier" value="是"  checked="checked"> 是
                {else/}
            <td>是否退役士兵: <input type="radio" name="stu_retiredsoldier" value="否" checked="checked"> 否 <input type="radio" name="stu_retiredsoldier"  value="是"> 是

                {/if}
            </td>
        </tr>
        <tr>
            <td>入学总分: <input type="text" name="stu_totalentrancescore" value="{$stuinfo['stu_totalentrancescore']}"></td>
        </tr>
        <tr>
            <td>宿舍号: <input type="text" placeholder="X-XXX-X" name="stu_dormnumber" value="{$stuinfo['stu_dormnumber']}"></td>
        </tr>
        <tr>
            <td>办学点名称: <input type="text" value="校本部" name="stu_nameofschoolrunningpoint" value="{$stuinfo['stu_nameofschoolrunningpoint']}"></td>
        </tr>
        <tr>
            <td>学生类别: <input type="text" value="应届毕业" name="stu_classstudents" value="{$stuinfo['stu_classstudents']}"></td>
        </tr>
        <tr>
            <td>户口区域: <input type="text" name="stu_hukouquyu" value="{$stuinfo['stu_hukouquyu']}"></td>
        </tr>
        <tr>
            <td>户籍所在地: <input type="text" name="stu_hukouaddressf" value="{$stuinfo['stu_hukouaddressf']}"></td>
        </tr>
        <tr>
            {if condition="$stuinfo['stu_retiredsoldier'] == '是'"}
            <td>是否三侨: <input type="radio" name="stu_sanqiao"  value="否"> 否 <input type="radio" name="stu_sanqiao" value="是" checked="checked"> 是</td>
            {else/}
            <td>是否三侨: <input type="radio" name="stu_sanqiao" checked="checked" value="否"> 否 <input type="radio" name="stu_sanqiao" value="是"> 是</td>

            {/if}
        </tr>
        <tr>
            <td>学生状态: <input type="text" value="在校" name="stu_state" value="{$stuinfo['stu_state']}"></td>
        </tr>
        <tr>
            <td>原部队: <input type="text" name="stu_originaltroops" value="{$stuinfo['stu_originaltroops']}"></td>
        </tr>
        <tr>
            <td>原军衔: <input type="text" name="stu_originalmilitaryrank" value="{$stuinfo['stu_originalmilitaryrank']}"></td>
        </tr>
        <tr>
            <td>入伍地: <input type="text" name="stu_enlist" value="{$stuinfo['stu_enlist']}"></td>
        </tr>
        <tr>
            <td>入伍时间: <input placeholder="点击选择时间" type="text" name="stu_enlisttime" value="{$stuinfo['stu_enlisttime']}" id="enlisttime"></td>
        </tr>
        <tr>
            <td>退役时间: <input type="text" placeholder="点击选择时间" name="stu_demobilizedtime" value="{$stuinfo['stu_demobilizedtime']}" id="demobilizedtime"></td>
        </tr>
        <tr>
            <td>退役方式: <input type="text" name="stu_demobilizedstyle" value="{$stuinfo['stu_demobilizedstyle']}"></td>
        </tr>
        <tr>
            <td>健康状况: <input type="text" placeholder="健康或良好" name="stu_health" value="{$stuinfo['stu_health']}"></td>
        </tr>
        <tr>
            <td>广州市户口地区: <input type="text" name="stu_guangzhouHukou" value="{$stuinfo['stu_guangzhouHukou']}"></td>
        </tr>
        <tr>
            <td>原毕业学校: <input type="text" placeholder="广州市就填写" name="stu_guangzhouprimaryschool" value="{$stuinfo['stu_guangzhouprimaryschool']}"></td>
        </tr>
        <tr>
            <td>原毕业学校源省: <input type="text" name="stu_sourceprovince" value="{$stuinfo['stu_sourceprovince']}"></td>
        </tr>
        <tr>
            <td>原毕业学校源市: <input type="text" name="stu_shengyuancity" value="{$stuinfo['stu_shengyuancity']}"></td>
        </tr>
        </tbody>
    </table>
    <input type="hidden" value="{$stuinfo['stu_imgurl']}" id="img_url" name="stu_imgurl">
    <input type="hidden" value="{$stuinfo['stu_infoflag']}" id="stu_infoflag">

    <div class="btn-group btn-group-lg" style="margin:93px auto;">
        <button type="button" class="btn btn-default .btn-group-justified submit" id="stuInfoKeep">保存</button>
        <button type="button" class="btn btn-default .btn-group-justified submit" id="stuInfoSubmit">提交</button>
    </div>
</form>
<!-- 按钮 -->

<!-- 页脚 -->
<footer>
    <p>@CopyRight 2013 Bootply | ALL rights reserved</p>
</footer>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#birthday' //指定元素
        });
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#enlisttime' //指定元素
        });
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#demobilizedtime' //指定元素
        });
    });
</script>
</body>
</html>