<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <script src="__STATIC__/student/bootstrap/js/jq.js"></script>
    <link rel="stylesheet" href="__STATIC__/student/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/student/css/stipend.css">
    <link rel="stylesheet" href="__STATIC__/xadmin/css/font.css">
    <link rel="stylesheet" href="__STATIC__/student/css/printstylesheet.css" media="print" />
    <link rel="stylesheet" href="__STATIC__/student/css/base.css">
    <title>助学金</title>
    <script src="__STATIC__/student/v/lib/jquery.js"></script>
    <script src="__STATIC__/student/v/dist/jquery.validate.min.js"></script>
    <script src="__STATIC__/student/v/dist/localization/messages_zh.js"></script>
    <script type="text/javascript" src="__STATIC__/xadmin/js/xadmin.js"></script>
    <script src="__STATIC__/student/bootstrap/js/bootstrap.js"></script>
    <script src="__STATIC__/student/js/grant.js"></script>
    <script type="text/javascript" src="__STATIC__/xadmin/lib/layui/layui.js" charset="utf-8"></script>
</head>
<body id="body">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="__STATIC__/student/img/logo1.png" alt="" class="img-responsive">
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{:url('/stuIndex')}">首页</a></li>
                <li><a href="{:url('/Stuleave')}">请假</a></li>
                <li><a href="{:url('/Stugrant')}">助学金</a></li>
                <li><a href="{:url('/Stuinfo')}">个人信息</a></li>
                <li><a href="{:url('/Stureduction')}">学费减免</a></li>
                <li>
                    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="true">
                        {:session('student.stu_name')}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="javascript:;" onclick="x_admin_show('更改密码','/student/Index/editPsd')">更改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/student/Index/out">退出</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    </div>
</nav>
<!-- pc端: 表-->
<form action="" class="pc" id="pc">
    <h3 class="text-center">广州市技工院校国家助学金申请表</h3>
    <p class="text-center">(<input type="text" class="input5" name="grant_startTime" value="{$stuinfo['grant_startTime']}">学年) (<input type="text" class="input5" name="grant_endTime" value="{$stuinfo['grant_endTime']}">学年)</p>
    <div style="width: 794px; margin: 0 auto;" >
        学校名称:<input type="text" placeholder="(规范全称)" name="grant_school" value="{$stuinfo['grant_school']}">
        <span style="float: right;">( 此表入学生档案 )</span>
    </div>
    <table border="1" align="center" width="794">
        <tr>
            <td align="center">姓名</td>
            <td><input type="text" class="input7" name="stu_name" value="{$stuinfo['stu_name']}"></td>
            <td align="center">性别</td>
            <td><input type="text" class="input7" name="stu_sex" value="{$stuinfo['stu_sex']}"></td>
            <td align="center">出生年月</td>
            <td style="width: 100px;"><input type="text" class="input7" name="stu_birthday" value="{$stuinfo['stu_birthday']}"></td>
            <td rowspan="6" width="150" class="a1">+</td>
        </tr>
        <tr>
            <td align="center">籍贯</td>
            <td><input type="text" class="input7" name="grant_jg" value="{$stuinfo['grant_jg']}"></td>

            <td align="center">民族</td>
            <td><input type="text" class="input7" name="stu_nation" value="{$stuinfo['stu_nation']}"></td>
            <td align="center">政治面目</td>
            <td><input type="text" class="input7" name="stu_politicalstatus" value="{$stuinfo['stu_politicalstatus']}"></td>
        </tr>
        <tr>
        <tr>
            <td align="center">学号</td>
            <td colspan="5"><input type="text"  placeholder="（全国技工院校电子注册管理系统编号）" class="widthinput input8" name="stu_number" value="{$stuinfo['stu_number']}"></td>
        </tr>
        <tr>
            <td align="center">身份证号</td>
            <td colspan="5">
                <input type="text" class="widthinput" style="height: 50px;" name="stu_identity" value="{$stuinfo['stu_identity']}">
            </td>
        </tr>
        <tr style="height: 50px;">
            <td colspan="2" align="center">户口所在地</td>
            <td colspan="4"><input type="text" class="widthinput" name="stu_hukouaddress" value="{$stuinfo['stu_hukouaddress']}"></td>
        </tr>
        <tr>
            <td colspan="2" align="center">中考准考证号</td>
            <td colspan="1"><input type="text" class="input7" name="grant_examination" value="{$stuinfo['grant_examination']}"></td>
            <td colspan="" align="center">何时毕业于何学校</td>
            <td colspan="3"><input type="text" class="widthinput input9" name="grant_graduateFromSchool" value="{$stuinfo['grant_graduateFromSchool']}"></td>
        </tr>
        <tr>
            <td rowspan="5" align="center">家庭主要成员情况</td>
            <td align="center">姓名</td>
            <td align="center">性别</td>
            <td align="center">年龄</td>
            <td align="center">与本人关系</td>
            <td colspan="2" align="center">工作或学校单位</td>
        </tr>
        {if condition="$stuinfo['family_name1']"}
        <tr>
            <td><input type="text" placeholder="先写户主" class="input7" name="family_name1" value="{$stuinfo['family_name1']}"></td>
            <td><input type="text" class="input7" name="family_sex1" value="{$stuinfo['family_sex1']}"></td>
            <td><input type="text" class="input7" name="family_age1" value="{$stuinfo['family_age1']}"></td>
            <td><input type="text" class="input7" name="family_relationship1" value="{$stuinfo['family_relationship1']}"></td>
            <td colspan="2"><input type="text" class="widthinput input" name="family_work1" value="{$stuinfo['family_work1']}"></td>
        </tr>
        <tr>
            <td><input type="text" class="input7" name="family_name2" value="{$stuinfo['family_name2']}"></td>
            <td><input type="text" class="input7" name="family_sex2" value="{$stuinfo['family_sex2']}"></td>
            <td><input type="text" class="input7" name="family_age2" value="{$stuinfo['family_age2']}"></td>
            <td><input type="text" class="input7" name="family_relationship2" value="{$stuinfo['family_relationship2']}"></td>
            <td colspan="2"><input type="text" class="widthinput input" name="family_work2" value="{$stuinfo['family_work2']}"></td>
        </tr>
        <tr>
            <td><input type="text" class="input7" name="family_name3" value="{$stuinfo['family_name3']}"></td>
            <td><input type="text" class="input7" name="family_sex3" value="{$stuinfo['family_sex3']}"></td>
            <td><input type="text" class="input7" name="family_age3" value="{$stuinfo['family_age3']}"></td>
            <td><input type="text" class="input7" name="family_relationship3" value="{$stuinfo['family_relationship3']}"></td>
            <td colspan="2"><input type="text" class="widthinput input" name="family_work3" value="{$stuinfo['family_work3']}"></td>
        </tr>
        <tr>
            <td><input type="text" class="input7" name="family_name4" value="{$stuinfo['family_name4']}"></td>
            <td><input type="text" class="input7" name="family_sex4" value="{$stuinfo['family_sex4']}"></td>
            <td><input type="text" class="input7" name="family_age4" value="{$stuinfo['family_age4']}"></td>
            <td><input type="text" class="input7" name="family_relationship4" value="{$stuinfo['family_relationship4']}"></td>
            <td colspan="2"><input type="text" class="widthinput input" name="family_work4" value="{$stuinfo['family_work4']}"></td>
        </tr>
        {else/}
        <tr>
            <td><input type="text" placeholder="先写户主" class="input7" name="family_name1"></td>
            <td><input type="text" class="input7" name="family_sex1"></td>
            <td><input type="text" class="input7" name="family_age1"></td>
            <td><input type="text" class="input7" name="family_relationship1"></td>
            <td colspan="2"><input type="text" class="input" name="family_work1"></td>
        </tr>
        <tr>
            <td><input type="text" class="input7" name="family_name2"></td>
            <td><input type="text" class="input7" name="family_sex2"></td>
            <td><input type="text" class="input7" name="family_age2"></td>
            <td><input type="text" class="input7" name="family_relationship2"></td>
            <td colspan="2"><input type="text" class="input" name="family_work2"></td>
        </tr>
        <tr>
            <td><input type="text" class="input7" name="family_name3"></td>
            <td><input type="text" class="input7" name="family_sex3"></td>
            <td><input type="text" class="input7" name="family_age3"></td>
            <td><input type="text" class="input7" name="family_relationship3"></td>

            <td colspan="2"><input type="text" class="input" name="family_work"3></td>
            <td colspan="2"><input type="text" class="input" name="family_work3"></td>
        </tr>
        <tr>
            <td><input type="text" class="input7" name="family_name4"></td>
            <td><input type="text" class="input7" name="family_sex4"></td>
            <td><input type="text" class="input7" name="family_age4"></td>
            <td><input type="text" class="input7" name="family_relationship4"></td>
            <td colspan="2"><input type="text" class="input" name="family_work4"></td>
        </tr>
        {/if}

        <tr>
            <td colspan="2" align="center">家庭地址及固定电话</td>
            <td colspan="3"><input type="text" class="widthinput input9" name="grant_familyAddesPhone" value="{$stuinfo['grant_familyAddesPhone']}"></td>
            <td align="center">邮政编码</td>
            <td><input type="text" class="widthinput input7" name="stu_postalcode" value="{$stuinfo['stu_postalcode']}"></td>
            </td>
        </tr>
        <tr>
            <td align="center">联系人</td>
            <td colspan="2"><input type="text" class="widthinput input7" name="grant_contacts" value="{$stuinfo['stu_name']}"></td>
            <td align="center">联系手机(电话)</td>
            <td colspan="3"><input type="text" class="widthinput input9" name="stu_phone" value="{$stuinfo['stu_phone']}"></td>
        </tr>
        <tr>
            <td align="center">就读专业</td>
            <td colspan="3"><input type="text" class="widthinput input9" name="stu_specialty" value="{$stuinfo['stu_specialty']}"></td>
            <td align="center">年级</td>
            <td colspan="2"><input type="text" placeholder="(20**级)" class="widthinput input7" name="grant_grade" value="{$stuinfo['grant_grade']}"></td>
        </tr>
        <tr>
            <td rowspan="1" align="center">学生申请理由</td>
            <td colspan="6" class="liyou">
                <input type="checkbox" name="kn" class="inputradio">
                <input type="checkbox" name="kn" class="inputradio"> 困难家庭（农村、城市低保或特困家庭子女；孤残学生、烈士子女或优抚家庭子女；本人或家庭成员因工伤残或患重大疾病；家庭遭受重大灾害或变故；父母双方或一方残疾<br/>
                <input type="checkbox" name="kn" class="inputradio">
                <input type="checkbox" name="kn" class="inputradio"> 涉农专业<br/>
                <p class="p1">申请人签名:<input type="text" class="input7"></p><p class="p2">家长或法定监护人签名: <input type="text" 	class="input7"></p>
                <p class="p3">申请人联系方式:<input type="text" class="input7"></p>
                <ul class="ul1">
                    <li><input type="text" class="input55">年</li>
                    <li><input type="text" class="input55">月</li>
                    <li><input type="text" class="input55">日</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td rowspan="1" align="center">班级评审意见</td>
            <td colspan="6">
                <p class="p4">班主任(签名): <input type="text" class="input7"></p>
                <ul class="ul2">
                    <li><input type="text" class="input55">年</li>
                    <li><input type="text" class="input55">月</li>
                    <li><input type="text" class="input55">日</li>
                </ul>
                <p class="p5">班主任(签名): <input type="text" class="input7"></p>
                <ul class="ul3">
                    <li><input type="text" class="input55">年</li>
                    <li><input type="text" class="input55">月</li>
                    <li><input type="text" class="input55">日</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td rowspan="1" align="center">学校认定意见</td>
            <td colspan="6" class="liyou"><input type="checkbox" name="ty" class="inputradio">
                <input type="checkbox" name="ty" class="inputradio"> 同意认定为助学金对象。 (<input type="checkbox" name="zz" class="inputradio"> 困难家庭、<input type="checkbox" name="zz" class="inputradio"> 涉农专业)<br/>
                <input type="checkbox" name="ty" class="inputradio">
                <input type="checkbox" name="ty" class="inputradio"> 不同意认定为助学金对象。<br/>
                <p class="p6">负责人(加盖机构公章): <input type="text" class="input7"></p>
                <ul class="ul4">
                    <li><input type="text" class="input55">年</li>
                    <li><input type="text" class="input55">月</li>
                    <li><input type="text" class="input55">日</li>
                </ul>
                <p class="p7">负责人(加盖机构公章): <input type="text" class="input7"></p>
                <ul class="ul5">
                    <li><input type="text" class="input55">年</li>
                    <li><input type="text" class="input55">月</li>
                    <li><input type="text" class="input55">日</li>
                </ul>
            </td>
        </tr>
    </table>
</form>
<!--移动端:表 -->
<form action="" class="yidong" id="yidong">
    <table class="table table-bordered">
        <h4 class="text-center">广州市技工院校国家助学金申请表</h4>
        <p class="text-center">(此表入学生档案)</p>
        <tbody>
        <tr>
            <td>学校名称: <input type="text" placeholder="(规范全称)" name="grant_school" value="{$stuinfo['grant_school']}"></td>
        </tr>
        <tr>
            <td>(<input type="text" class="input1" name="grant_startTime" value="{$stuinfo['grant_startTime']}">)学年 (<input type="text" class="input1" name="grant_endTime" value="{$stuinfo['grant_endTime']}">) 学年</td>
        </tr>
        <tr>
            <td><div class="xiangpian"><a href="#">上传相片</a></div></td>
        </tr>
        <tr>
            <td>姓名: <input type="text" name="stu_name" value="{$stuinfo['stu_name']}"></td>
        </tr>
        <tr>
            <td>性别：<input type="text" class="input7" name="stu_sex" value="{$stuinfo['stu_sex']}"></td>
        </tr>
        <tr>
            <td>出生年月: <input type="date" name="stu_birthday" value="{$stuinfo['stu_birthday']}"></td>
        </tr>
        <tr>
            <td>籍贯: <input type="text" name="grant_jg" value="{$stuinfo['grant_jg']}"></td>
        </tr>
        <tr>
            <td>民族: <input type="text" name="stu_nation" value="{$stuinfo['stu_nation']}"></td>
        </tr>
        <tr>
            <td>政治面貌：<input type="text" class="input7" name="stu_politicalstatus" value="{$stuinfo['stu_politicalstatus']}"></td>
        </tr>
        <tr>
            <td>学号: <input type="text" placeholder="全国技工院校电子注册管理系统编号" name="stu_number" value="{$stuinfo['stu_number']}"></td>
        </tr>
        <tr>
            <td>身份证号码: <input type="text"  name="stu_identity" value="{$stuinfo['stu_identity']}"></td>
        </tr>
        <tr>
            <td>户口所在地: <input type="text" name="" placeholder="X省X市X县(市、区)X镇(街道)X村(号)" name="stu_hukouaddress" value="{$stuinfo['stu_hukouaddress']}"></td>
        </tr>
        <tr>
            <td>中考准考证号: <input type="text" name="grant_examination" value="{$stuinfo['grant_examination']}"></td>
        </tr>
        <tr>
            <td>何时毕业于何学校: <input type="text" name="grant_graduateFromSchool" value="{$stuinfo['grant_graduateFromSchool']}"></td>
        </tr>
        <tr>
            <td><p class="text-center">家庭主要人员及情况</p></td>
        </tr>
        {if condition="$stuinfo['family_name1']"}
        <tr>
            <td>姓名: <input type="text" placeholder="先写户主" name="family_name1" value="{$stuinfo['family_name1']}"></td>
        </tr>
        <tr>
            <td>性别: <input type="text" name="family_sex1" value="{$stuinfo['family_sex1']}"></td>
        </tr>
        <tr>
            <td>年龄: <input type="text" name="family_age1" value="{$stuinfo['family_age1']}"></td>
        </tr>
        <tr>
            <td>与本人关系: <input type="text" name="family_relationship1" value="{$stuinfo['family_relationship1']}"></td>
        </tr>
        <tr>
            <td>工作或学习单位: <input type="text" class="input2" name="family_work1" value="{$stuinfo['family_work1']}"></td>
        </tr>

        <tr>
            <td>姓名: <input type="text" placeholder="先写户主" name="family_name2" value="{$stuinfo['family_name2']}"></td>
        </tr>
        <tr>
            <td>性别: <input type="text" name="family_sex2" value="{$stuinfo['family_sex2']}"></td>
        </tr>
        <tr>
            <td>年龄: <input type="text" name="family_age2" value="{$stuinfo['family_age2']}"></td>
        </tr>
        <tr>
            <td>与本人关系: <input type="text" name="family_relationship2" value="{$stuinfo['family_relationship2']}"></td>
        </tr>
        <tr>
            <td>工作或学习单位: <input type="text" class="input2" name="family_work2" value="{$stuinfo['family_work2']}"></td>
        </tr>

        <tr>
            <td>姓名: <input type="text" placeholder="先写户主" name="family_name3" value="{$stuinfo['family_name3']}"></td>
        </tr>
        <tr>
            <td>性别: <input type="text" name="family_sex3" value="{$stuinfo['family_sex3']}"></td>
        </tr>
        <tr>
            <td>年龄: <input type="text" name="family_age3" value="{$stuinfo['family_age3']}"></td>
        </tr>
        <tr>
            <td>与本人关系: <input type="text" name="family_relationship3" value="{$stuinfo['family_relationship3']}"></td>
        </tr>
        <tr>
            <td>工作或学习单位: <input type="text" class="input2" name="family_work3" value="{$stuinfo['family_work3']}"></td>
        </tr>

        <tr>
            <td>姓名: <input type="text" placeholder="先写户主" name="family_name4" value="{$stuinfo['family_name4']}"></td>
        </tr>
        <tr>
            <td>性别: <input type="text" name="family_sex4" value="{$stuinfo['family_sex4']}"></td>
        </tr>
        <tr>
            <td>年龄: <input type="text" name="family_age4" value="{$stuinfo['family_age4']}"></td>
        </tr>
        <tr>
            <td>与本人关系: <input type="text" name="family_relationship4" value="{$stuinfo['family_relationship4']}"></td>
        </tr>
        <tr>
            <td>工作或学习单位: <input type="text" class="input2" name="family_work4" value="{$stuinfo['family_work4']}"></td>
        </tr>
        {else/}
        <tr>
            <td>姓名: <input type="text" placeholder="先写户主" name="family_name1"></td>
        </tr>
        <tr>
            <td>性别: <input type="text" name="family_sex1"></td>
        </tr>
        <tr>
            <td>年龄: <input type="text" name="family_age1"></td>
        </tr>
        <tr>
            <td>与本人关系: <input type="text" name="family_relationship1"></td>
        </tr>
        <tr>
            <td>工作或学习单位: <input type="text" class="input2" name="family_work1"></td>
        </tr>

        <tr>
            <td>姓名: <input type="text" placeholder="先写户主" name="family_name2" ></td>
        </tr>
        <tr>
            <td>性别: <input type="text" name="family_sex2"></td>
        </tr>
        <tr>
            <td>年龄: <input type="text" name="family_age2"></td>
        </tr>
        <tr>
            <td>与本人关系: <input type="text" name="family_relationship2"></td>
        </tr>
        <tr>
            <td>工作或学习单位: <input type="text" class="input2" name="family_work2"></td>
        </tr>

        <tr>
            <td>姓名: <input type="text" placeholder="先写户主" name="family_name3"></td>
        </tr>
        <tr>
            <td>性别: <input type="text" name="family_sex3"></td>
        </tr>
        <tr>
            <td>年龄: <input type="text" name="family_age3"></td>
        </tr>
        <tr>
            <td>与本人关系: <input type="text" name="family_relationship3"></td>
        </tr>
        <tr>
            <td>工作或学习单位: <input type="text" class="input2" name="family_work3"></td>
        </tr>

        <tr>
            <td>姓名: <input type="text" placeholder="先写户主" name="family_name4"></td>
        </tr>
        <tr>
            <td>性别: <input type="text" name="family_sex4"></td>
        </tr>
        <tr>
            <td>年龄: <input type="text" name="family_age4"></td>
        </tr>
        <tr>
            <td>与本人关系: <input type="text" name="family_relationship4" ></td>
        </tr>
        <tr>
            <td>工作或学习单位: <input type="text" class="input2" name="family_work4" ></td>
        </tr>
        {/if}


        <tr>
            <td>家庭地址及固定电话: <input type="text" class="input3" name="grant_familyAddesPhone" value="{$stuinfo['grant_familyAddesPhone']}"></td>
        </tr>
        <tr>
            <td>邮政编码: <input type="text" name="stu_postalcode" value="{$stuinfo['stu_postalcode']}"></td>
        </tr>
        <tr>
            <td>联系人: <input type="text" name="grant_contacts" value="{$stuinfo['stu_name']}"></td>
        </tr>
        <tr>
            <td>联系电话(手机): <input type="text" name="stu_phone" value="{$stuinfo['stu_phone']}"></td>
        </tr>
        <tr>
            <td>就读专业: <input type="text" name="stu_specialty" value="{$stuinfo['stu_specialty']}"></td>
        </tr>
        <tr>
            <td>年级: <input type="text" placeholder="20**级" name="grant_grade" value="{$stuinfo['grant_grade']}"></td>
        </tr>
        <tr>
            <td><p class="text-center">学生申请理由</p></td>
        </tr>
        <tr>
            <td><input type="checkbox"> <input type="checkbox">困难家庭(农村、城市低保或特困难家庭子女;孤残学生、烈士子女或优抚家庭子女;本人或家庭成员因工伤残或患重大疾病;家庭遭重大灾害或变故;父母双方或一方残疾)<br/>
                <input type="checkbox"> <input type="checkbox">涉农专业<br/>
                申请人签名: <input type="text"><br>
                申请人联系方式: <input type="text" class="input4"><br>
                家长过法定监护人签名: <input type="text" class="input4">
            </td>
        </tr>
        <tr>
            <td><p class="text-center">班级评审意见</p></td>
        </tr>
        <tr>
            <td>班主任签名: <input type="text"><input type="date"><br>
                班主任签名: <input type="text"><input type="date">
            </td>
        </tr>
        <tr>
            <td><p class="text-center">学校认定意见</p></td>
        </tr>
        <tr>
            <td><input type="checkbox"> <input type="checkbox">同意认定为助学金对象。(<input type="checkbox">困难家庭<input type="checkbox">涉农专业)<br/>
                <input type="checkbox"> <input type="checkbox">不同意认定为助学金对象。<br/>
                负责人(加盖机构公章): <br/><br/><input type="date"><br>
                负责人(加盖机构公章): <br/><br/><input type="date">
            </td>
        </tr>
        </tbody>
    </table>
</form>
<input type="hidden" value="{$stuinfo['grant_flag']}" id="grant_flag">


<!-- 按钮 -->
<div class="btn-group btn-group-lg ">
    <button type="button" class="btn btn-default .btn-group-justified submit" id="leavefoKeep">保存</button>
    <button type="button" class="btn btn-default .btn-group-justified submit" id="leavefoSubmit">提交</button>
</div>

<!-- 页脚 -->
<footer>
    <p>@CopyRight 2013 Bootply | ALL rights reserved</p>
</footer>
</body>
</html>